[2012-04-20 18:49] Iristyle opened #2 "Fails to determine quote beginning properly when dealing with escaped params"
For instance, this fails to parse properly.

[code]

The matching quotes should be found around "$FormsRepo" but instead are found at the beginning like ""$FormsRepo.

The current regex in the tmLanguage file

[code]

I believe this regex needs to be rewritten so that it _can_ match

[code]

BUT only if it appears as

[code]

This ends up being a bit tricky with the Sublime Text regex parser becau

[2012-04-25 22:20] #2 closed, assigned to nobody

[2012-08-21 21:09] Iristyle opened #4 "Nested braces in String Interpolations throw off parser / highlighting"
Take this sample

[code]

The opening `"` is properly colored, but then by the time the second `"` is reached, the formatting is wrong.  The rules seem to be treating the whole rest of the line after the first `"` as a variable (the line is _not_ colored the same as a string).

For the following line, the `+=` symbol should be in the same color as the `=` of the previous line, but instead, it's co

[2012-09-30 00:05] Iristyle opened #5 "Doesn't properly handle quoted single line strings with &"${env:foo}" and trailing }"
I think you need to change your regex so that it's not as greedy.

This blows up the formatting

[code]

If I put the ending `}` on a newline, we're all good

[code]

[2012-10-16 12:26] #5 closed, assigned to nobody

[2012-11-14 19:45] #4 closed, assigned to nobody

[2012-11-27 12:45] patrobinson opened #11 "folding hides wrong text with '@"
Not handling @' '@ here documents hide/show properly, such as the following example:

if($true) {
    $script = @'
/bin/true
'@
    if($false) {
        write-host "Never happened"
    }
}

This example gives the option to hide everything from '@ to the last }, which is not correct.

[2013-01-14 13:43] mad-doctor opened #13 "Not working under Linux."
When sublime text is trying to load the plugin it gives the following error:

Traceback (most recent call last):
  File "./sublime_plugin.py", line 62, in reload_plugin
  File "./setup.py", line 11, in <module>
    from distutils import log, dir_util, dep_util, file_util, archive_util
ImportError: No module named distutils

I've tried to include distutils folder from the default python install on

[2013-01-25 11:58] mad-doctor opened #14 "Case sensitive and case insensitive comp. operators (like -icontains etc) are not highlighted"
May be a bug in regexp on line 220 in PowershellSyntax.tmLanguage?

[2013-01-25 12:03] mad-doctor opened #15 "Highlighting for build-in aliases?"
I've noticed that the build-in command aliases (like select, where, gi etc.) are not highlighted. It will be nice to have these highlighted (possibly in different color from cmdlets).

[2013-01-26 08:30] mad-doctor opened #16 "Binary not operator not highlighted"
There is an extra dash in regexp on line 148 in PowershellSyntax.JSON-tmLanguage:

"match": "-(?i:f|band|bor|-bnot)\b",

Should be

"match": "-(?i:f|band|bor|bnot)\b",

[2013-01-26 08:39] mad-doctor opened #17 "Suggestion: Make operators regexp case sensitive"
I work with Powershell for a long time now and I've never seen somebody to write operators in title case (e.g. -And, -Eq etc). I think they should be highlighted only if they are all small case. This will also prevent bugs like highlighting part of cmdlets' parameters, like for example the -NoTypeInformation param of Export-CSV cmdlet.

Best regards,
Mad Doctor

[2013-02-15 20:45] frizop opened #18 "Build requires -Name option for Import-Module"
For some reason I can not Import-Module AWSPowerShell, I must
Import-Module -Name "C:\Program Files (x86)\AWS Tools\PowerShell\AWSPowerShell\AWSPowerShell.dll"

I've also tried to remove the -noprofile from the build script and that didn't work either. Is this known, or would you happen to know why? When I run the same script from my local powershell, using -noprofile -file C:\foo.ps1 the script w

[2013-08-26 07:17] varemenos opened #19 "add ST3 support on package control"
Could you please register the package in package control's ST3 registry so that we can install this through it?
I believe wbond posted instructions in the package control website.

[2013-09-04 05:56] #19 closed, assigned to nobody

[2013-09-06 20:06] ptseng opened #20 "Here Strings with single quotes"
There seems to be a problem with syntax highlighting for Powershell Here strings.

    @”

    Sample Text

    “@  | Sample-Command

Seems to format correctly.

However,

    @’

    Sample Text

    ‘@ | Sample-Command

Does not.

[2013-11-28 07:36] hoest opened #22 "PowerShell.sublime-package : Error at startup"
[code]

System: Windows 7 - 64-bit; Sublime Text 3

And on OSX:

[code]

[2013-12-10 22:11] bcrotty opened #23 "NoTypeInformation Incorrectly Colored"
The Export-Csv parameter "-NoTypeInformation" has only the first 3 characters colored. This is probably incorrectly identifying it as "-not".

[2014-08-31 16:03] nazikus opened #27 "symbols list for powershell syntax"
I've tried to list powershell functions in Symbol List (Ctrl-R) by adding additional preferences file. It didn't work, although this approach worked fine for my custom language syntax. How should it be done properly in this case?

I have added `Packages\PowerShell\Support\PowershellSymbols.tmPreferences` with the following content:

[code]

[2014-09-08 09:09] randy3k opened #28 "Error in sublime console (SyntaxError: invalid character in identifier)"
Error in sublime console, I am running Mac Yosemite Beta 2.

[code]

It seems that it has something to do with the characters of the first line.

[2014-09-08 21:20] #28 closed, assigned to nobody

[2014-10-09 17:46] guillermooo opened #34 "set up Package Control to pick up versions by tag, not every commit"

[2014-10-09 18:16] guillermooo opened #36 "update build scripts"
Basically, we need to throw away the build infrastructure in place right now and use roughly the same as Vintageous or Dart (Sublime Text package) are using.

[2014-10-09 19:05] #34 closed, assigned to guillermooo

[2014-10-10 18:21] vors opened #40 "Here-string (@" "@) syntax is incorrect, if it doesn't start from the begining of the line"
Tested on tag 2.0.0
![image](https://cloud.githubusercontent.com/assets/816680/4597054/1af583ae-50aa-11e4-9700-c311e92664bd.png)

[2014-10-10 20:31] guillermooo opened #41 "remove Python dep from build scripts"
Use PowerShell instead if possible.

[2014-10-10 20:32] #36 closed, assigned to guillermooo

[2014-10-10 20:39] #41 closed, assigned to nobody

[2014-10-11 00:22] vors opened #42 "Add classes syntax support (powershell v5)"

[2014-10-11 00:25] vors opened #43 "Add .mof files syntax support (powershell v4)"
mof files describes schema of PowerShell DesiredStateConfiguration resources and instances of configurations. It's a pretty hot feature of v4 / v5.

[2014-10-11 09:05] guillermooo opened #45 "exclude dev-files from end-user distro"
Provided that we are ok with giving up the `master` branch for development (i. e., its sole purpose is to mark stable releases):

Before each release, we would create a `temp-release` branch forking `dev`, delete the development files there, and merge `temp-release` with `master`. (Just an example, the process may be further streamlined.)

[2014-10-11 16:52] guillermooo opened #49 "connect to AppVeyor"

[2014-10-11 19:16] #49 closed, assigned to guillermooo

[2014-10-11 19:56] #40 closed

[2014-11-26 02:35] vors opened #53 "Syntax: 'function foo($bar)' doesn't highlight $ as variable"

[2014-12-06 22:19] #53 closed, assigned to nobody

[2014-12-06 22:31] #22 closed, assigned to nobody

[2014-12-06 22:41] #14 closed

[2014-12-06 23:28] #16 closed, assigned to nobody

[2014-12-08 17:06] jaraco opened #55 "SyntaxError in setup.py"
After installing the package according to the docs, I get this error in SublimeText startup:

[code]

[2014-12-08 22:03] #55 closed, assigned to nobody

[2014-12-11 02:57] vors opened #56 "Types (i.e. [string]) are not highlighted"

[2014-12-16 02:08] vors opened #58 "'Import-Module D:\dev\Find-String' has inconsistent highlighting"
![image](https://cloud.githubusercontent.com/assets/816680/5447598/365a7dd4-8485-11e4-94b5-dd66e2689e81.png)

[2014-12-16 09:19] #17 closed, assigned to nobody

[2014-12-23 23:28] vors opened #59 "Multiline attribute brakes highlighting"
![image](https://cloud.githubusercontent.com/assets/816680/5544281/32c56286-8ab8-11e4-9bf3-5b55989b4b57.png)

[2015-01-10 01:59] vors opened #60 "Syntax highlighting should treat "foo.bar" as a function name"
Second is powershell_ise

![dot repo](https://cloud.githubusercontent.com/assets/816680/5690043/28777250-9829-11e4-8238-0bcb230d0ef2.png)

[2015-01-14 02:55] vors opened #62 "[Test framework] Test test-file.ps1 against standard parser highlighting."
For a while I thought about enforcing writing new UTs for new changes and gradually increasing coverage for existing code as a quality strategy for syntax.

Here are downsides that I see now:
1) This plan needs a lot of effort.
2) New tests are not easy to write, which discourage contribution.

I decided to implement a different approach:
1) Test cases will exist in form of simple `test-file.ps1`

[2015-01-17 07:52] vors opened #65 "Keywords should be case-insensitive and consistent in highlighting style"
Compare highlighting in 35f4d4c0c2d3ff417c86c1af834f1dc4a81a46de and powershell_ise:

![image](https://cloud.githubusercontent.com/assets/816680/5788136/9297192c-9dda-11e4-8f5c-22c964644cee.png)

![image](https://cloud.githubusercontent.com/assets/816680/5788139/a52591c2-9dda-11e4-95e8-9d712fea8d04.png)

[2015-01-17 08:03] vors opened #66 "Highlighting for strings with evaluations "$(...)" is inconsistent"
Compare highlighting in 35f4d4c and powershell_ise:

![image](https://cloud.githubusercontent.com/assets/816680/5788170/4624ffda-9ddc-11e4-9ad5-cf36b4f57534.png)

![image](https://cloud.githubusercontent.com/assets/816680/5788164/221d23c4-9ddc-11e4-9fee-187e412d092d.png)

[2015-01-18 18:40] vors opened #68 "field / method names highlighting should be consistent when ( ) used"
![image](https://cloud.githubusercontent.com/assets/816680/5793573/353dd6c4-9efe-11e4-9efb-8f955594b903.png)

[2015-01-18 19:09] vors opened #69 "Color $PSScriptRoot and $input as a special variables (like $null)"
I often name parameter $input and troubleshoot same problem again and again: $input is a reserved variable.

[2015-01-19 23:35] vors commented on #62
Fixed in #67

[2015-01-19 23:35] #62 closed

[2015-01-19 23:38] vors opened #70 "Parameter attribute with multiple entries brakes highlighting badly"
[code]

![image](https://cloud.githubusercontent.com/assets/816680/5809742/11558eca-9ff1-11e4-839f-7634fff164c1.png)

[2015-01-21 06:34] vors commented on #58
not repro on 3a225a0163acf12b121acdc73b7f719d3fd79d93

[2015-01-21 06:34] #58 closed

[2015-01-21 23:13] #56 closed

[2015-01-21 23:13] #70 closed

[2015-01-21 23:13] #69 closed

[2015-01-21 23:14] #65 closed

[2015-01-21 23:14] #60 closed

[2015-01-21 23:15] vors commented on #43
.mof files are not essential in v5, but it still will be nice to have them.

[2015-01-27 00:12] vors opened #74 "make syntax definition compatible with github/linguist API"
Оne-line comment spreads to the rest of the text.
http://bit.ly/1zBITIF

Possible cause: linguist handles `include #commentEmbeddedDocs` differently then ST.

[2015-01-27 00:13] vors commented on #74
![image](https://cloud.githubusercontent.com/assets/816680/5911071/4f63460a-a576-11e4-9534-7d58fab94454.png)

[2015-01-27 08:27] vors commented on #74
Fixed in #75

[2015-01-27 08:27] #74 closed

[2015-01-27 22:58] vors opened #76 "'TestConfiguration' highlights as two scopes"
![image](https://cloud.githubusercontent.com/assets/816680/5929024/db530088-a634-11e4-9953-e55b7db65255.png)

[2015-01-28 23:03] bcrotty opened #77 "Chained Methods/Properties Should Look the Same"
![2015-01-28 17_01_31-c__users_bcrotty_skydrive_script archive_office 365 create and license users vi](https://cloud.githubusercontent.com/assets/6155964/5949018/5f628314-a70f-11e4-818d-fe0b1efad616.png)

[2015-01-29 01:18] vors opened #78 "[Discussion] Milestone 2.2.0"
First of all, I want to share some highlights of the recent release 2.1.0
- New unit test framework allows describe fundamental rules about syntax scopes. Now ST scopes can be compared to tokens, produced by PS parser (used for powershell_ise and PSReadLine highlighting). Credits to @guillermooo for introducing unit tests.
- Tons of bugfixes for syntax. Credits to @bcrotty for his contribution. Cr

[2015-01-29 13:17] guillermooo commented on #78
Excellent @vors! Thanks for taking the lead here :)

Generally speaking, I think it'd be worth adding the ability of running PS code from ST. For example, PowershellUtils lets you write a short script and have the output populate each ST text region in the buffer.

Also, perhaps this package could expose some sort of command/api so that other packages can execute PS code. For instance, I'd like Vi

[2015-01-29 15:55] bcrotty opened #79 "Operators Not Allowing Preceding Word Characters"
![2015-01-29 09_52_14-greenshot](https://cloud.githubusercontent.com/assets/6155964/5960640/917e442c-a79c-11e4-802d-9ebf53e2437a.png)

The following scopes all do not allow any word characters before them, which does not allow for the above legal syntax. The current syntax does correctly catch that the last example is wrong.

[code]

The three valid cases I've found are:
1. Preceded by a number
2.

[2015-01-29 18:27] vors commented on #78
@guillermooo excellent ideas!

[2015-01-29 19:18] vors commented on #79
It one of these things, that pretty hard to implement correctly. I prefer the current behavior: there may be some correct command names like `Get-Contains` or `Get-Join`, which will incorrectly highlighted when preceding word character removed. On the other hand `$a-clt2` is a pretty unreadable programming style and I hope people don't write such code often.

[2015-01-29 19:25] bcrotty commented on #79
I agree, but shouldn't the syntax mirror what PowerShell and the ISE actually do?

[2015-01-29 19:30] vors commented on #79
Yes, we should try to follow it.
My point is, the second option is less preferable, because it confuses people with good programming style.

Ideally we should fix it, but I don't know how much work is it. Maybe you can take a look? :)

[2015-01-29 19:59] bcrotty commented on #79
Planning on it :) Just wanted to document it.

[2015-01-31 00:49] vors commented on #78
I also was thinking about a color schema that supports all PowerShell scopes. It can be in colors of ISE :)

[2015-02-02 15:44] bcrotty commented on #78
I've had the same idea lately! I really like the color theory and thought that went into creating Solarized (although the theme itself is not my first choice). http://ethanschoonover.com/solarized

[2015-02-03 00:13] vors commented on #78
btw, github already use our grammar for all PS code!

[2015-02-03 08:41] guillermooo commented on #78
:clap: :sunglasses:

[2015-02-03 22:27] vors commented on #78
More existing news!

@jugglingnutcase is the author of PowerShell laguage package for atom text editor. (btw, [4k downloads](https://atom.io/packages/language-powershell)). Atom and SublimeText share the same grammar, and he is **[considering](https://github.com/jugglingnutcase/language-powershell/pull/36) using our repo as a vendor submodule for grammar**.

His package also has a pretty big unit

[2015-02-04 18:31] jugglingnutcase commented on #78
i'll throw my thoughts out there.

:warning: i often don't know what i'm talking about and i'm doing this quick, so i may not be very clear atm :warning:

i'm :+1:  for making the grammar unit testing environment-agnostic, but i'm not sure which platform is best for that. i don't know how SublimeText deals with the grammar files... is there a library they're using for that that is open source that

[2015-02-05 00:59] vors commented on #78
@jugglingnutcase As far as I know sublime exposes all APIs via `sublime.py` module which calls `sublime_api.py` (native code). To get grammar scopes you need to 1) load sublime.py (I don't know how to do it outside of sublime) 2) Call `set_syntax_file()` 3) call [some api to get scopes](https://github.com/SublimeText/PowerShell/blob/master/tests/py/__init__.py#L118) like `find_by_selector`.

Let m

[2015-02-05 01:07] vors commented on #78
There are two directions that I'm personally interested in:

1) Continue work on grammar
a. Leverage atom tests
b. Test grammar completely out-of-proc.
c. Fix bugs, provide go-to definition (can it be shared with atom?).

2) Create a proof-of-concept prototype: SublimeText-powershell as an alternative for powershell_ise
a. I want to be able to open special kind of tab: powershell REPL, with expiri

[2015-02-05 01:09] vors commented on #20
Since github use the same grammar, we can test it here:

[code]

[code]

[2015-02-05 01:09] #20 closed

[2015-02-05 20:45] jugglingnutcase commented on #78
Interesting. i'll have to take a closer look at the tests in this project to make sure i understand what's going on.

i like the directions you're considering, those sound like really useful things.

How do you see this working out? Translating them to the pester tests you have?

[2015-02-05 20:55] vors commented on #78
I don't know yet. But I don't want sacrifice test coverage without good reason. Good reason can be that old tests are completely irrelevant with new grammar.

PowerShell/Pester was picked semi-randomly. It's a convenient and cheap way to call parser API. But it could can be C# or F# as well. PowerShell is not my top-choice for writing big things.

But one advantage or writing tests in PowerShell i

[2015-02-07 01:43] vors opened #80 "We should not highlight `-Function Get-AllDscEvents` as a function definition"
[code]

![image](https://cloud.githubusercontent.com/assets/816680/6090230/654e0e14-ae27-11e4-86d7-7cd810091a3c.png)

[2015-02-08 18:55] ptseng commented on #20
Thank you.

[2015-02-08 22:20] vors opened #81 "Comment build-in keywords should include dot as a legal char in reference"
[code]

![image](https://cloud.githubusercontent.com/assets/816680/6098767/666114a0-af9d-11e4-9312-732819c51ffe.png)

[2015-02-09 15:48] bcrotty opened #82 "Add Snippet for Documentation"
We should add a snippet for documentation. https://technet.microsoft.com/en-us/magazine/ff458353.aspx is the closest I found to a published standard.

Their example is:

[code]

[2015-02-09 15:56] bcrotty opened #83 "Clean Up Snippet Formatting and Duplicates"
Only one of the snippets includes a description tag, so most are using the file name for the name of the snippet, but even the file names are not all consistent. Also, the expanded text is not always formatted properly, such as the ```Set-PSDebug``` snippet, which should be capitalized as shown.

[2015-02-09 18:51] vors commented on #83
Can you give an example? Does it relate to #81?

[2015-02-11 17:46] bcrotty commented on #83
I fixed all the issues I found in the commit https://github.com/bcrotty/PowerShell/commit/daeb3d007c61acc3e170cb6617be44e959abcded

[2015-02-11 17:50] bcrotty opened #84 "Logical operator syntax incorrectly allows letters to follow"
The current logical operator syntax catches `-le` in `-less` or anything where letters follow a logical operator. I fixed this in the commit https://github.com/bcrotty/PowerShell/commit/2c27801ea403320c3ba0dc6de95f095f9b74c5de.

[2015-02-11 18:05] bcrotty commented on #80
Fixed in commit https://github.com/bcrotty/PowerShell/commit/2b96b680314ede3ae7fcb78120b29c0f22f2af95

[2015-02-11 18:58] vors commented on #83
Waiting  for pull requests from you :)

[2015-02-11 19:25] bcrotty commented on #83
Sorry. Still getting used to Git/GitHub. If I do a pull request can I do it in such a way that it only compares certain files or will it compare the whole thing?

[2015-02-11 19:31] vors commented on #83
It will compare the whole thing.
I would recommend you this reading http://nvie.com/posts/a-successful-git-branching-model/
Bottom-line: one branch per feature. Then PR to `dev` branch in `origin` (by origin, I always mean this repo).

To localize your changes in current situation, you can start new branch from `origin/dev` and cherry-pick commits that you want. There are other options to do that.

[2015-02-11 20:06] guillermooo commented on #78
Shall we create a new repo for the color scheme?

[2015-02-11 20:07] guillermooo commented on #78
We can also start with the color scheme in this repo and worry about a separate repo later.

[2015-02-12 02:55] vors commented on #81
I oversee one more problem: `2.0`

![image](https://cloud.githubusercontent.com/assets/816680/6161017/8f467804-b21f-11e4-8e98-feae7036a6a5.png)

[2015-02-13 20:26] vors opened #85 "-for should not be highlighted"
![image](https://cloud.githubusercontent.com/assets/816680/6194711/7a815760-b37b-11e4-98e8-4ae227f7fe26.png)

[2015-02-13 21:12] vors opened #86 "'function foo ###' should understand comments highlighting"
![image](https://cloud.githubusercontent.com/assets/816680/6195348/d6feec2c-b381-11e4-8ada-bf503f2c7087.png)

[2015-02-16 10:00] scottbilas opened #87 "Parsing of specific $() sequence breaks syntax highlighting for rest of file"
A very specific $() sequence causes the end of a string to not get recognized, which breaks syntax highlighting for all following code. This really needs to be explained with pictures. I have narrowed down the use case to this:

[code]

Which looks like this:

![image](https://cloud.githubusercontent.com/assets/964720/6209865/53766420-b5ca-11e4-8605-84effbb7f4ca.png)

Whereas it really ought to lo

[2015-02-18 00:03] guillermooo opened #89 "prototype to run PS code from Sublime Text"
Discussion started in #78

I'll try to start work on a prototype server to run PS code from a custom runspace. The server will most probably be written in F# and communicate with ST via pipes.

[2015-02-18 00:25] vors commented on #89
.NET pipes?

[2015-02-18 00:31] guillermooo commented on #89
Nope, just output redirection.

[2015-02-18 00:33] vors commented on #89
oh, got it :) I used WCF recently and keep thinking about its pipes.

[2015-02-18 19:40] bcrotty commented on #23
Fixed as of 2.1.0

[2015-02-18 19:40] #23 closed

[2015-02-19 21:06] guillermooo commented on #89
But we can try using a named pipe.

[2015-02-20 09:08] vors opened #93 "'-' is not allowed in class names"
[code]

Screenshot from ISE:
![image](https://cloud.githubusercontent.com/assets/816680/6283710/e4293158-b89c-11e4-9305-6aa1293e629b.png)

[2015-02-20 14:42] bcrotty commented on #82
I agree with @guillermooo on keeping the snippets limited and basic. We don't want to add a bunch that will be coming up as people type. The one (non basic) snippet I would really like to add is one for the beginning script documentation (synopsis, description, parameters, etc). I think this will help encourage better documented code. @guillermooo and @vors, what do you think?

[2015-02-24 21:46] guillermooo opened #94 "integrate with new static analyzer for PowerShell"
Announced by the PS Team in their blog.

[2015-02-24 21:56] vors commented on #94
`PSScriptAnalyzer` I believe. That's an awesome feature proposal.
Blog post for reference http://blogs.msdn.com/b/powershell/archive/2015/02/24/powershell-script-analyzer-static-code-analysis-for-windows-powershell-scripts-amp-modules.aspx

[2015-02-26 02:39] vors opened #95 "String detection is broken badly, if file extension .ps1 involved"
[code]

![image](https://cloud.githubusercontent.com/assets/816680/6385346/75c6a03a-bd1d-11e4-8fb2-9729e6ec1d0f.png)

[2015-02-26 02:40] vors commented on #94
I just tried it on the real world codebase and it's very far from useful.
Won't fix for now.

[2015-02-26 02:40] #94 closed

[2015-02-26 02:51] vors commented on #89
We decided to do this work in a separate repo.
https://github.com/guillermooo/PowerShellConsole

[2015-02-26 02:51] #89 closed

[2015-02-26 02:52] vors commented on #13
Can anybody check, is this issue still actual? cc @guillermooo
I don't work on Linux right now.

[2015-02-26 03:00] vors commented on #78
Thank you everybody for discussion!

There are a lot of new bugs for syntax. I think we need to release 2.2.0 with fixes for them and some  feature work. @guillermooo already implemented nice color schema and started work in separate repo for running PS code from ST. https://github.com/guillermooo/PowerShellConsole

I'm going to create a milestone with gols:
1) Close all syntax issues newer then 3

[2015-02-26 03:00] #78 closed

[2015-02-26 03:04] vors commented on #18
Interesting. I didn't know about `Ctrl+B` at all.
@guillermooo , should we move all related effort to https://github.com/guillermooo/PowerShellConsole ?

[2015-02-26 03:06] vors commented on #59
fixed in release 2.1.0

[2015-02-26 03:06] #59 closed

[2015-02-26 03:09] vors commented on #87
Thank you for reporting this!
I think I just created a duplicate #95

[2015-02-26 03:10] vors commented on #77
I believe it's the same issue is #66

[2015-02-26 03:25] jugglingnutcase commented on #78
Thanks for the offer of help, @vors! i've been slow to merge in my PR using this grammar. All i have left is to fix up my tests, which i think i'll do on my side and then i can adjust things as our testing processes develop. i'll try to get to that within the next week or two.

[2015-02-26 04:16] vors commented on #78
cool

[2015-02-26 06:48] mad-doctor commented on #13
I've checked the issue both in sublime 2 and sumblime 3 (3065 build) on Arch Linux - no errors on startup, everything seems just fine.

[2015-02-26 06:49] vors commented on #13
cool! Thank you

[2015-02-26 06:49] #13 closed

[2015-02-26 06:51] guillermooo commented on #13
I must have removed the `setup.py` since we're now recommending to publish the files locally as a folder, not a `.sublime-package` archive.

[2015-02-26 07:19] vors commented on #82
I like this idea. How it should be triggered? `<# .` ?

[2015-02-26 08:21] vors opened #97 "Add test that highlighting is not broken to the end of file to prevent such regressions"
Happened with #95  #87  #59

[2015-02-26 08:27] vors opened #98 "Add ability to run TokenTests against arbitrary file"
And run it against real-world powershell open source projects. i.e. https://github.com/pester/Pester

[2015-02-26 08:43] guillermooo opened #99 "deprecate and remove python tests for syntax"
Switch to the new powershell-based testing framework for syntax.

[2015-02-26 08:46] vors commented on #99
Some python would probably be needed.
I still don't know is it possible to call sublime APIs out-of-proc.

[2015-02-26 08:47] guillermooo commented on #99
Sorry, yes, I meant the test that are run purely in Python.

[2015-02-26 14:54] bcrotty commented on #82
That works, or would something like ```docu``` be easier?

[2015-02-26 14:55] bcrotty commented on #83
Merged with #90.

[2015-02-26 14:55] #83 closed

[2015-02-26 16:58] vors commented on #82
As I said, I don't use snippets (which I probably should start right now), so I don't have any strong opinion. Maybe `help`, since this comments consumed by `Get-Help`?

[2015-02-26 19:54] guillermooo commented on #82
Requirements:

- should only trigger in `source.dart` scope (for example, not inside a string)

I don't know what a good name would be, but I favor abbreviations that are close to but not always exactly real words. Specially so if the snippet is complex. This has the advantage, in my opinion, that you have to intentionally type the abbreviation to get the snippet instead of ST inserting a whole lo

[2015-02-26 21:04] bcrotty commented on #82
Sounds good. I'll work on pulling this together and we can discuss more once it's created. Thanks!

[2015-02-27 17:50] vors opened #101 "Add `-shr` `-shl` as a bitwise operators"
https://technet.microsoft.com/en-us/library/hh847759.aspx

Original discussion https://github.com/jugglingnutcase/language-powershell/pull/36#issuecomment-76409433

[2015-02-27 18:56] vors opened #102 "Describe how to run tests locally"

[2015-02-27 18:57] #95 closed

[2015-02-27 18:58] vors commented on #87
Fixed in https://github.com/SublimeText/PowerShell/pull/96

[2015-02-27 18:58] #87 closed

[2015-03-01 19:31] jugglingnutcase opened #103 "Put all automatic variables under one roof?"
Mind if i move all the automatic variables under the same `support.variable.automatic.powershell` scope? Some of the keywords are scattered under a few other scopes. It would make my testing a little simpler and conceptually makes better sense to me.

...but i could be missing a reason they're separated out in the first place.

refs language-powershell#36

[2015-03-01 19:39] jrsconfitto opened #104 "Add stop parsing symbol `--%` to the grammar"
Not super important.

In the atom language tests (jugglingnutcase/language-powershell#36) the tests are failing on `--%`. We should add it at some point. Here's the [about_Escape_Characters spec](https://technet.microsoft.com/en-us/library/hh847755.aspx) which contains this stuff under the "Stop parsing symbol".

[2015-03-01 20:58] guillermooo commented on #103
There's probably no good reason why they're separated. It was one of the first syntax defs I made for ST --- if not the first one... I must have started learning PowerShell about the same time, so feel free to group items as you see fit, they are probably poorly organized!

[2015-03-01 21:20] jugglingnutcase commented on #103
OK, thanks! Personally, i never knew any of this stuff until i had to fix bugs that i never would've hit on my own and i'm still learning.

 i'll try to re-organize them at some point :smile:

[2015-03-02 02:21] vors opened #105 "Add `sequence` keyword"
It's a block in `workflow`

[2015-03-02 02:56] vors commented on #102
https://github.com/SublimeText/PowerShell/blob/dev/CONTRIBUTING.md

[2015-03-02 02:56] #102 closed

[2015-03-02 18:29] bcrotty opened #106 "Word Wrap and Spacing Defaults"
Do we want to set defaults for word wrapping and tabs vs. spaces? I personally prefer the opposite of how it is set now. What about just not having these defaults?

[2015-03-02 18:41] vors commented on #106
I personally prefer how it set up now. @guillermooo , what's the common practice in ST packages?

[2015-03-02 18:55] bcrotty commented on #106
Is there a PowerShell specific reason to have either of those settings as defaults, since this will override the user preferences?

[2015-03-02 19:00] vors commented on #106
No.

[2015-03-02 19:15] guillermooo commented on #106
We probably should not make any call on behalf users regarding white space.

Until the PS analyzer establishes a convention, I guess we should delete the setting because it's a subjective choice.

That said, between changing the default setting and keeping it as it is, I'd rather keep it.

Anyone thinks it's a big deal deleting it?

[2015-03-02 19:48] bcrotty commented on #106
That works for me.

[2015-03-02 22:09] vors commented on #106
:+1:

[2015-03-03 16:50] bcrotty opened #107 "Else Indentation Issue"
![2015-03-03 10_47_24-new issue sublimetext_powershell](https://cloud.githubusercontent.com/assets/6155964/6467264/b518032c-c192-11e4-8587-536a3507c4b0.png)

The construction on the left breaks automatic indentation (in PowerShell only). It should look like the middle version after a Reindent, and the right version is a workaround. I'm not sure what's causing this or what ST uses to determine inde

[2015-03-04 02:04] vors opened #108 "default should be a keyword in a switch statement"
![image](https://cloud.githubusercontent.com/assets/816680/6476823/9db008b4-c1cf-11e4-85fb-616bf99fea55.png)

[code]

[2015-03-04 22:20] vors commented on #78
Just heads up for all active contributors: @guillermooo @jugglingnutcase @bcrotty
There is a PowerShell community slack https://powershell.slack.com
You can sign-up on http://slack.poshcode.org/?utm_content=buffer8d9ad&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

I created a [#sublimetext](https://powershell.slack.com/messages/sublimetext/) channel for discussions and visibility f

[2015-03-05 03:50] vors opened #109 "`{@('` breaks grammar"
[code]

![image](https://cloud.githubusercontent.com/assets/816680/6498953/abbe34ca-c2a7-11e4-9706-d89dea863110.png)

Tested only on 2.1.0
May be already fixed in `dev`

[2015-03-23 20:25] guillermooo opened #112 "fix build scripts"
MUST

- [x] build PowerShell as a folder under 'Packages'
- [x] publish locally to *Data/Packages/PowerShell
- [x] work as build sys from within ST

[2015-03-23 20:26] guillermooo opened #113 "fix test runner"
MUST
- [ ] run tests under _.\tests_ from within ST
- [ ] run syntax def tests

[2015-03-23 20:27] guillermooo opened #114 "update docs: how to run tests"

[2015-03-23 20:27] guillermooo opened #115 "update docs: how to build dev versions"

[2015-03-23 20:28] guillermooo opened #116 "create script to publish package to 'master'"
MUST:

- [x] remove unneeded files

~~- [ ] commit changes~~

[2015-03-24 07:05] #112 closed

[2015-03-24 07:06] guillermooo commented on #115
#117

[2015-03-24 07:06] #115 closed

[2015-03-24 07:07] guillermooo commented on #113
#114

[2015-03-24 07:11] guillermooo commented on #116
@vors I think we'd agreed on using 'master' as the release channel? So basically we only need to deleted  dev files and push to master, right?

[2015-03-25 16:58] noesberger opened #118 "Here String is breaking syntax"
Hi

When I have a Powershell here string
$x = @"
"blala
balal
balal"
"@

and the last row is inlined ("@) with space or tab, it's breaking the highlighting for the code that is following.

Does anyone else have the same error?

[2015-03-25 17:06] vors commented on #118
Do you mean

[code]

?

[2015-03-25 17:10] Jaykul commented on #118
inlined or indented?

If it's indented like @vors wrote, that's not a valid here-string.

[2015-03-25 17:13] noesberger commented on #118
Sorry, indented.
Ok, then it's my fault. Thanks for your fast reply

[2015-03-25 17:13] #118 closed

[2015-03-25 20:57] #116 closed

[2015-03-25 21:00] vors commented on #116
Yep. Uh, it would be also cool to publish it asappveyor artifact on each build. 

Sent from Outlook

On Wed, Mar 25, 2015 at 1:57 PM -0700, "Guillermo López-Anglada" <notifications@github.com> wrote:

Closed #116.

—
Reply to this email directly or view it on GitHub.

[2015-03-25 21:09] guillermooo commented on #116
Tried a very basic thing, but I don't really like it. We need to find a better way of publishing versions.

[2015-04-01 17:16] guillermooo opened #123 "tracking new syntax def features in ST"
http://www.sublimetext.com/forum/viewtopic.php?f=2&t=17892

[2015-04-03 21:37] vors opened #124 "There is no `enum` keyword"
We should highlight enums like classes.
![image](https://cloud.githubusercontent.com/assets/816680/6989312/f73c6042-da0e-11e4-8749-d4ff965612a3.png)

[2015-04-03 21:54] vors opened #125 "`default` should be a keyword inside a switch"
![image](https://cloud.githubusercontent.com/assets/816680/6989525/49cca4f0-da11-11e4-8a82-509351464591.png)

![image](https://cloud.githubusercontent.com/assets/816680/6989539/5e841176-da11-11e4-8a17-640b61a300e1.png)

[2015-04-03 22:06] guillermooo commented on #125
@vors Perhaps you've seen it --- a much more powerful lexer for grammars is in flight, including unit testing.

[2015-04-03 22:59] vors commented on #125
Yes, I'm very excited about it. Does it have any story to convert it to tmLanguage, so atom and github can benefit from it?

[2015-04-07 03:09] vors opened #126 "Digits inside type-names"
![image](https://cloud.githubusercontent.com/assets/816680/7016426/cc83fe5a-dc98-11e4-9fe0-ed8215f197b5.png)

[2015-04-25 21:58] guillermooo commented on #123
The new syntax definition format used by Sublime Text can fully parse LL(1) grammars. Assuming that PowerShell's syntax isn't LL(1), we should try to figure out which constructs are most useful to parse more thoroughly.

At the very least, the new syntax def should be as comprehensive as the existing one.

I'll create a new branch and start working on the new syntax definition.

However, PowerShel

[2015-05-01 04:47] vors commented on #126
Need to fix it
![image](https://cloud.githubusercontent.com/assets/816680/7426774/74655474-ef82-11e4-84e0-29688f5ae269.png)

[2015-05-06 02:12] vors commented on #80
Just found that it completely breaks grammar.
@bcrotty did you send it as part of #100 ?

I think it worth to make a release 2.2.0 for that.

[2015-05-06 02:12] vors commented on #80
![image](https://cloud.githubusercontent.com/assets/816680/7486471/bc37cb98-f35a-11e4-9393-2f0d1cedfc71.png)

[2015-05-06 20:39] bcrotty commented on #80
Using the fix in #100 produces the following:

![2015-05-06 15_38_34-untitled default - sublime text](https://cloud.githubusercontent.com/assets/6155964/7503070/041d3b4a-f406-11e4-93c5-b2d0bd14c530.png)

[2015-05-08 15:01] pixelrebirth opened #129 "Build not working for powershell scripts #withFix"
Here is the fix for it:

{
    "cmd": ["powershell.exe", "-noprofile", "-executionpolicy", "bypass", "$file"],
    "selector": "source.powershell"
}
# changed unrestricted to bypass based on comments below

[2015-05-08 15:08] guillermooo commented on #129
@vors I wonder whether we should use "bypass" instead of "unrestricted"?

[2015-05-08 15:09] pixelrebirth commented on #129
I agree that would be better, unrestricted is quick build mode for me-- bypass is more appropriate IMO

[2015-05-08 15:11] vors commented on #129
I agree.

[2015-05-08 15:13] pixelrebirth commented on #129
Works perfect still, of course.

read-host doesnt however, but I think that is a limitation with sublime not being able to prompt correctly

[2015-05-28 11:39] EinPinsel opened #130 "Here-Strings are breaking the highlighting"
If you're using a Here-String, the formatting after "@ is broken.
![2015-05-28 13_38_42](https://cloud.githubusercontent.com/assets/12642546/7859199/f84bef6a-053e-11e5-81d7-c21e06ddc9f4.png)

[2015-05-29 16:43] vors commented on #130
It's by design: here-string cannot have indentation for the closing `"@`:

PowerShell_ISE:
![image](https://cloud.githubusercontent.com/assets/816680/7887571/01002510-05e7-11e5-83cf-86a4e7aa6572.png)

[2015-05-29 16:43] #130 closed

[2015-06-08 20:49] roman-bl opened #131 "Unable to install PowerShell package"
Followed the instructions, but Sublime 3 couldn't find PowerShell package to install.  Tried to use Advanced Install Package, but with the same result.
![image](https://cloud.githubusercontent.com/assets/4933359/8044965/3ba06fa8-0dfe-11e5-9ffa-7152e1403409.png)
![image](https://cloud.githubusercontent.com/assets/4933359/8044979/4f374a78-0dfe-11e5-861d-55cf6c9bbd1f.png)

Please advise!

[2015-06-08 21:11] vors commented on #131
[Should be there](https://packagecontrol.io/packages/PowerShell).
It's in the [default package control channels](https://github.com/wbond/package_control_channel/blob/master/repository/p.json#L1201).

One thought: package control entry doesn't have explicit name. I assume, it should fetch the name from the repo url / description / etc. Maybe this logic was changed recently.

Can you, please open a

[2015-06-09 00:19] roman-bl commented on #131
Thanks for the quick reply.  There is already one open issue regarding many missing packages. So, I just left a comment there.  Interestingly enough, the issue is fresh (3h), so probably something resent that was introduced.

[2015-06-10 20:01] vors commented on #131
@roman-bl can you try now?

[2015-06-10 20:50] roman-bl commented on #131
Everything works. Closing the issue. :)
Thank you for help!

[2015-06-10 20:50] #131 closed

[2015-07-29 21:53] vors opened #132 "Complicated regex in ValidatePattern breaks the grammar"
[code]

[2015-08-19 08:04] guillermooo opened #133 "switch to git-flow branching model"
`master` branch should point to the latest tag.

(Based on Slack discussion.)

@vors I'll take a look at git-flow, but feel free to add any details that need to be sorted out for this.

[2015-08-19 08:07] guillermooo opened #134 "create container for testing/dev"
@vors

I believe the benefit here would be lowering the bar for new/occasional contributors?

Not sure if bundling st would violate its EULA.

[2015-10-23 18:09] vors commented on #134
:+1:

[2015-11-17 21:00] sodacrackers opened #136 "No syntax highlighting on Mac"
Does this plugin work on Mac, OS X 10.10 Yosemite?  I've followed the simple _Package Manager_ install instructions and tried copying the source to `~/Library/Application\ Support/Sublime\ Text\ 3/Packages/`

Even after restarting Sublime 3 I get no syntax highlighting for `ps1` extensions.  Same after settings them PowerShell under `View > Syntax > Open all as...`

Many thanks.

[2015-11-23 06:38] Jaykul opened #138 "Scriptblocks in ValidateScript"
Script blocks inside attributes should be highlighted...

[code]

[2015-11-23 06:39] Jaykul commented on #125
and vs code, and visual studio, and ...

[2015-11-23 19:32] dotps1 opened #139 "Where-Object does not seem to highlight properly"
Using the following code the 'Where-Object' does not hightlight properly.

[code]

The 'Where' is identified but the '-Object' is not.

(Snippit from VSCode)
![image](https://cloud.githubusercontent.com/assets/1016996/11347346/f6c7fe9e-91ee-11e5-9e7a-306bf621092a.png)

Thanks.

[2015-11-23 19:52] bcrotty opened #140 ""configuration" breaks Syntax Highlighting"
![2015-11-23 12_56_30-photos](https://cloud.githubusercontent.com/assets/6155964/11347942/4baed212-91e9-11e5-97da-d9158884d43d.png)
"configuration" breaks syntax highlighting after it.

![2015-11-23 12_59_17-c__users_bcrotty_onedrive_script archive_select franchise network discovery ps1](https://cloud.githubusercontent.com/assets/6155964/11347945/4dd55e9e-91e9-11e5-97f2-af3522716667.png)
This is w

[2015-11-24 05:51] Jaykul commented on #140
This is fixed in dev already by https://github.com/SublimeText/PowerShell/pull/137

[2015-12-08 14:41] daviwil opened #143 "Adopt PowerShell Editor Services for IntelliSense, code navigations, etc in Windows"
I'm filing this issue to officially track the initial integration work for PowerShell Editor Services:

https://github.com/PowerShell/PowerShellEditorServices/

This will allow us to provide full IntelliSense support, code navigations, real-time syntax and semantic analysis, and script execution.  We'll also be able to provide an integrated REPL that's more like what you see in the ISE.

If anyone

[2015-12-08 22:29] copdips opened #144 "sort-object is not syntax hightlighting"
Hi,

the method sort-object is not syntax hightlighting, please kindly fix it.
thx in advance.

[2015-12-08 23:17] Jaykul commented on #144
This is addressed in #142

[2016-02-12 14:07] godeater commented on #132
I have a fix for this, but I'm not sure where it should be sent - it seems various different editors use TextMate's language definition for Powershell, but I've never used TextMate (and can't, being as how I abhor Macs), so I can't text the fix there...

[2016-02-12 18:04] vors commented on #132
Yes, this is the right place.
Atom, VSCode and GitHub uses the same grammar.

On Fri, Feb 12, 2016 at 6:07 AM, Bryan Childs <notifications@github.com>
wrote:

[2016-02-12 18:05] vors commented on #132
Oh, apparently another comment was removed

[2016-02-12 18:21] daviwil commented on #132
@godeater this is the right place :)

[2016-02-12 18:52] godeater commented on #132
I removed the comment I put earlier as I found that the new grammar I had, although it didn't wreck the syntax highlighting through the rest of the buffer as the current one does, now only highlights on the first "variable=value" in a [Parameter( block.
I'm trying to work out if it's worth submitting it still as the lesser of two evils, or keep plugging away to see if I can fix the regex properly.

[2016-02-12 18:56] daviwil commented on #132
Go ahead and fix it properly if you want to.  Definitely doesn't make sense to pull it in yet if it breaks other highlighting.

[2016-02-12 18:58] vors commented on #132
This regex became pretty complicated, good luck.
You can share preview of your results with https://github-lightshow.herokuapp.com/

[2016-02-12 19:19] godeater commented on #132
s/want to/can/ =/

After I noticed that problem, I kept looking at it all afternoon without much success.

Take a look at these and see which you think would be best to use.

With current grammar:
![before](https://cloud.githubusercontent.com/assets/1461/13017664/514f2528-d1bd-11e5-98bf-3f15f80aac29.png)

With new grammar:
![after](https://cloud.githubusercontent.com/assets/1461/13017666/5c442dca-

[2016-02-12 19:29] vors commented on #132
@godeater send a PR with a reference to this issue, we can take a look together.

It always takes few hours to switch context to tmLanguage syntax, but I feel there were no releases for quite some time and GitHub's highlighting is out-of-date.

[2016-02-12 19:37] godeater commented on #132
I've sent a pull request, but not sure if I've done it right or not.

[2016-02-19 19:11] lzybkr opened #147 "Coloring of variables is difficult to read"
The default coloring of variables in VSCode is hard to read because the sigil is colored, but not the variable name.  This puts too much emphasis on the sigil and not the name.

I prefer having the sigil+variable colored, but not coloring anything would be better than the default.

Here is an example:

![image](https://cloud.githubusercontent.com/assets/2148248/13186115/59a17c76-d6f9-11e5-9e3e-8be

[2016-02-19 20:53] vors opened #148 "[Proposition] Create a separate repo for the grammar"
Dear friends, there were no releases and no active development of SublimeText/PowerShell since September 2015.

I would like to propose a "separate repo for the grammar" and explain, why I think it's a right step now.
## In the meantime

PowerShell team is doing more and more development on GitHub in https://github.com/PowerShell.

Microsoft as a whole org doing more and more open-source developme

[2016-02-19 21:01] guillermooo commented on #148
Fine by me! I can't devote any time to this at the moment anyway... :-/

[2016-02-19 21:02] daviwil commented on #148
:+1: This would be a great thing for future evolution and maintenance of the grammar.

[2016-02-19 21:14] vors commented on #148
cc @jugglingnutcase

[2016-02-21 06:43] Jaykul commented on #148
Makes sense to me.

[2016-02-21 13:52] jugglingnutcase commented on #148
I'm on board too, sounds like a great idea to me.

FWIW: Because I'm lazy, I often avoided messing too much with this repo
because I didn't want to have to install all the SublimeText artifacts to
make sure my tests pass, etc.
On Sun, Feb 21, 2016 at 1:43 AM Joel Bennett <notifications@github.com>
wrote:

[2016-02-22 15:30] bcrotty commented on #148
That sounds good to me. It would be great to combine manpower and resources with other grammar developers. Have we heard from any of them? Do we have plans for merging projects from other platforms?

Is there any reason to look at using the new Sublime grammar engine or making some sort of an automatic converter? Or would it be best to just stick to tmLanguage?

[2016-02-22 19:57] vors commented on #148
To the best of my knowledge, all people who did any recent development of tmLanguage-compatible PowerShell grammar are on this thread.

Specifically for ST, I would prefer to stick with tmLanguage.
But if somebody will do the work and result would be superior, we should consider switch imo.

[2016-03-02 03:17] hermes369 commented on #129
OK. I'll be the noob who asks where to put the above? I've tried creating a Powershell directory in \\users\me\appdata\roaming\sublime text 3\packages\powershell\Powershell.sublime-project and cloning into the packages directory only to see it deleted and editing the .sublime-project file both times the powershell directory gets removed on relaunch of Sublime Text.
Clearly I'm doing it wrong.

[2016-03-02 03:26] pixelrebirth commented on #129
C:\Users\me\AppData\Roaming\Sublime Text 3\Packages\PowerShell-master\Support\Powershell.sublime-build

[2016-04-02 15:59] eugenesvk commented on #106
Would you please delete these settings as it's very annoying that my user settings are overridden and I have to have a custom exception for one language.
You can easily set your preferences in your own config files as you like, no need to force it on other users.

[2016-04-05 21:36] sgtoj commented on #148
Is there any updates on the status of the change? I would like to contribute. However, there is very little documentation.

[2016-04-05 22:01] vors commented on #148
@sgtoj glad to hear it

I'm didn't have a chance to execute this plan yet. Stay tuned.

[2016-04-13 16:25] bcrotty commented on #106
@vors @guillermooo I think we agreed to remove these settings so that it doesn't override user preferences. Would one of you mind changing that?

[2016-04-15 10:23] godeater commented on #132
I presume the decision was taken that this wasn't good enough?

[2016-05-18 20:07] vors opened #149 "Sort should be in the list of verbs"
[code]

Should be both highlighted the same way

[2016-05-24 19:19] vors commented on #148
UPD: @daviwil start putting things together in https://github.com/PowerShell/EditorSyntax

[2016-05-24 21:23] daviwil commented on #148
Just got the repo kicked off!  We'll gradually start moving all known issues with the existing grammar over to the [PowerShell/EditorSyntax](https://github.com/PowerShell/EditorSyntax) repo.  Tracking this effort in [issue #1](https://github.com/PowerShell/EditorSyntax/issues/1) there

[2016-06-30 15:53] jordigg opened #151 "Powershell "Here-Strings" breaks syntax highlighting"
When using

[code]

breaks syntax highlighting. Removing the first `@` fixes the highlight so I guess the error is how that @ is parsed.

Here a screen-shoot, with and without the first `@`
![Image of bug2](https://s31.postimg.org/llfto9x3f/sublime2.png) ![Image of bug1](https://s31.postimg.org/kun3ihuq3/sublime1.png)

[2016-06-30 16:48] jordigg commented on #151
Now I saw #130 with the same problem. I see that it's because the indentation.
I have that code inside an `if` condition and that's why I use the indentation but it's still located at the same level of indentation as the opening "@".

[2016-07-28 21:10] Jaykul commented on #149
That ... is because Sort isn't a valid verb :-P

[2016-07-28 21:18] Jaykul commented on #151
That's not a bug, that's a feature.

Here strings in PowerShell have 3 character delimiters: at, quote, newline ---> newline, quote, at.

If there's whitespace between the newline and the quote, it's not valid powershell.

[2016-10-13 20:50] elpresidento commented on #139
It looks where-object still is not fixed
find
`<string>(?&lt;!\w)(?i:foreach-object)(?!\w)</string>`
to replace
`<string>(?&lt;!\w)(?i:foreach-object|where-object)(?!\w)</string>`
find
`|var|where(?!=-object)|while)`
to replace
`|var|where(?!-object)|while)`
Then where-object works fine.

[2016-11-21 03:32] dzeleski commented on #143
Any chance on this being added soon?

[2016-11-22 18:13] daviwil commented on #143
@dzeleski you can try a preview of the integration now but it might not be 100% reliable: https://github.com/SublimeText/PowerShell/pull/152.  I haven't had time to finish that work yet, but I'd certainly be interested in collaborating with others to finish it.

[2016-11-22 19:04] dzeleski commented on #143
@daviwil For sure, ill be honest I've not tested any sublime plugins yet, is it as simple as just manually adding your commit as a repo in package control and installing that way?

[2016-11-22 19:43] daviwil commented on #143
I don't think it will work with Package Control yet.  For now, follow these instructions to install it:

https://github.com/daviwil/SublimePowerShell/tree/editor-services#powershell-editor-services-integration-experimental

[2016-11-23 01:10] dzeleski commented on #143
Oh perfect! Ill give this a shot tomorrow morning.

[2017-05-11 02:36] dzeleski commented on #143
@daviwil Totally forgot about this, I just installed it using the instructions listed and it seems to be working. Thanks and sorry for the long delay. If I run into any issues ill open an issue.

[2017-05-11 14:41] daviwil commented on #143
Very likely to not be working well (especially IntelliSense), hoping to get back to it at some point this year

[2017-07-09 04:14] #11 closed

[2017-08-29 17:46] bcrotty opened #154 "OutputType Bracket Coloring"
![2017-08-29 12_42_24-untitled script archive - sublime text](https://user-images.githubusercontent.com/6155964/29835472-ba2d854c-8cb7-11e7-8365-d2eef220f657.png)
Seems like `[System.String]` should be either all the same color or at least the brackets should be the same color.

There's still an issue when it's `String` instead of `System.String`

![2017-08-29 12_45_29-untitled script archive - su

[2017-09-27 19:08] alexqfredrickson opened #155 "Allow code-folding for comment blocks"
It would be a nice feature to be allow code-folding for multi-line comment blocks.

Comment blocks are used to define documentation for functions, and they can get fairly verbose:

[code]

[2017-10-02 08:06] keith-hall commented on #107
This package doesn't currently provide any indentation rules, so the ones from ST's Default package are used - and they don't cope with `elseif`, as you've experienced. There is some documentation for indentation rules at http://docs.sublimetext.info/en/latest/reference/metadata.html#indentation-options-children-of-settings.

It may be possible to borrow some rules from similar languages like C#,

[2017-10-02 08:14] keith-hall commented on #155
ST's code folding arrows in the gutter are currently based on indentation only, there is currently no way to configure that any differently. See https://github.com/SublimeTextIssues/Core/issues/101 for an open feature request.

However, you can always select any text that you want to fold and go to the Edit menu -> Code Folding -> Fold (or press the appropriate key binding). If you want to quickly

[2017-10-02 12:14] alexqfredrickson commented on #155
Thanks Keith!  Ideally I wanted one of those clicky-arrow thingies, but I can absolutely live with this.

The "workaround" I have been using is that PowerShell also recognizes docstrings located immediately underneath function declarations (which are collapsible):

Function Clean-XML() {
<#
.DESCRIPTION
Escapes characters in XML requests.
.EXAMPLE
Clean-XML -text "Hello <world>"
#>

    param(

[2017-10-02 12:14] #155 closed

[2017-12-26 17:08] yokai117 commented on #132
Was this ever resolved? I seem to be having the same issue at present and it's making it difficult to switch to atom for powershell.

[2017-12-26 18:33] vors commented on #132
@godeater hey sorry for a very long reply time: completely slipped out of my radar. It looks like you sent https://github.com/SublimeText/PowerShell/pull/145 , right?

I think all maintainers just dropped ball here at the time, not that it was not good enough. Sorry for that.

[2017-12-26 18:35] vors commented on #132
The plan was to move highlighting development to https://github.com/PowerShell/EditorSyntax but it stalled a little bit too.

[2017-12-26 18:48] yokai117 commented on #132
Thanks for the update.  Seems there are a few bugs related to syntax highlighting in there.  I'll see how they're progressing.

[2018-02-02 13:40] nanoant opened #157 "Syntax highlight breaks on -Keyword parameter name"
When function parameter name is a keyword e.g. `-Function` then the syntax grammar gets confused, see example below for correct PowerShell script syntax with broken highlighting.

[code]

P.S. Even GitHub highlight breaks here :)

![image](https://user-images.githubusercontent.com/103067/35735928-a25fb350-0826-11e8-914f-5c1010bd5b10.png)

[2018-02-22 13:15] keith-hall commented on #148
It'd be great to know what the current state of this ST package is - the EditorSyntax repo referenced above mentions that this SublimeText/PowerShell repo uses the syntax definition from that package, which is blatantly untrue - perhaps this package *should* be updated to do so? Also, if it were, what would this package provide that the EditorSyntax doesn't? i.e. what is in this package that makes

[2018-02-22 22:44] vors commented on #148
The EditorSyntax currently has too many regressions compare to this package and doesn't suite as a replacement just yet. Ideally we would fine a good way to prevent regressions https://github.com/PowerShell/EditorSyntax/issues/2 with tests.

I think grammar is the biggest value at the moment, there are few other additions like color scheme, snippets, preferences, but I'm not sure how much are they

[2018-02-22 22:51] vors commented on #148
I just realized I didn't answer your first questison

It's not going to be directly developed, instead the effort should be on the bringing EditorSyntax to the acceptable state and replacing the grammar here.

In the year, when I was actively developing and maintaining sublime package, I got pretty frustrated by the fact that there is no good way to guarantee that changes don't make regressions. T

[2018-03-05 14:53] mathew-ferry13 opened #158 "Not handling syntax correctly with docker-machine"
The command below is valid powershell syntax, but the highlighting does not believe the string is terminated:

`$ErrMsg = $(docker-machine ls --filter name=MachineName --format "{{.Error}}")`

[2018-03-05 21:06] xse commented on #157
Hi !
I have the same issue here :

![2018-03-05 22_03_36-c__users_elouan_documents_windowspowershell_microsoft powershell_profile ps1 -](https://user-images.githubusercontent.com/183953/36999734-5eac9d7c-20c1-11e8-8be6-e3d823f14392.png)

As soon as i put a "(" after the buggy string it disappear :)

![2018-03-05 22_05_25-c__users_elouan_documents_windowspowershell_microsoft powershell_profile ps1

[2018-04-20 11:16] RMan135 opened #159 "Lines larger than 16384 characters dont get highlighted"

[2018-04-29 06:38] vors commented on #159
This is a limitation of Sublime, not this particular grammar.

[2018-04-29 06:38] #159 closed

[2018-05-07 09:59] RMan135 commented on #159
Ok, thank you!

[2018-05-26 04:46] vors commented on #158
Looks like https://github.com/PowerShell/EditorSyntax handles it correctly.
We are planning to switch to their grammar soon.
Stay tuned.

[2018-05-26 04:47] vors commented on #157
Looks like https://github.com/PowerShell/EditorSyntax handles it correctly.
We are planning to switch to their grammar soon.
Stay tuned.

[2018-05-26 04:49] vors commented on #154
Looks like https://github.com/PowerShell/EditorSyntax handles it correctly.
We are planning to switch to their grammar soon.
Stay tuned.

[2018-05-26 04:51] vors commented on #151
Yes, thank you @Jaykul ! The indentation makes it invalid here-string.

[2018-05-26 04:51] #151 closed

[2018-05-26 04:54] vors commented on #149
Indeed, but we have `Sort-Objecet` 😭

[2018-05-26 04:57] vors commented on #144
Dupe of #149

[2018-05-26 04:57] #144 closed

[2018-05-26 05:01] vors commented on #136
Going to close this one old install issue. I hope you found a solution, but if not please open a new issue.

[2018-05-26 05:01] #136 closed

[2018-05-26 05:02] vors commented on #134
Abondaned in favor of https://github.com/PowerShell/EditorSyntax

[2018-05-26 05:02] #134 closed

[2018-05-26 05:04] vors commented on #133
UPD on it: http://endoflineblog.com/gitflow-considered-harmful
Once we switch to EditorSyntax, we will just have master with the latest EditorSyntax release

[2018-05-26 05:04] #133 closed

[2018-05-26 05:09] vors commented on #125
Sort-of fixed in EditorSyntax: `default` is simply a keyword everywhere. Which is a better approach I think.

[2018-05-26 05:11] vors commented on #123
Closing in favor of https://github.com/PowerShell/EditorSyntax

[2018-05-26 05:11] #123 closed

[2018-05-26 05:12] vors commented on #114
Closing in favor of https://github.com/PowerShell/EditorSyntax

[2018-05-26 05:12] #114 closed

[2018-05-26 05:12] #113 closed

[2018-05-26 05:14] vors commented on #109
That been fixed

[2018-05-26 05:14] #109 closed

[2018-05-26 05:27] vors commented on #79
Closing in favor of https://github.com/PowerShell/EditorSyntax

[2018-05-26 05:27] #79 closed

[2018-05-26 05:33] vors commented on #148
Update: Thanks to @omniomi and others for recent kick-ass work on https://github.com/PowerShell/EditorSyntax at this point we are going to be provably in a much better shape if we switch to common grammar.
Here is the proof: https://github.com/SublimeText/PowerShell/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22Fixed+in+EditorSyntax%22+ a whole bunch of issues just going to be resolved.

![image](

[2018-05-26 05:33] #148 closed

[2018-05-26 05:50] #80 closed

[2018-05-26 05:50] #81 closed

[2018-05-26 05:50] #84 closed

[2018-05-26 05:50] #85 closed

[2018-05-26 05:50] #86 closed

[2018-05-26 05:50] #125 closed

[2018-05-26 05:50] #126 closed

[2018-05-26 05:50] #132 closed

[2018-05-26 05:50] #138 closed

[2018-05-26 05:50] #139 closed

[2018-05-26 05:50] #140 closed

[2018-05-26 05:50] #149 closed

[2018-05-26 05:50] #154 closed

[2018-05-26 05:50] #157 closed

[2018-05-26 05:50] #158 closed

[2018-05-26 20:02] vors commented on #147
Moving this discussion to EditorSyntax https://github.com/PowerShell/EditorSyntax/issues/23

[2018-05-26 20:02] #147 closed

[2018-05-26 20:08] vors commented on #101
Moved to https://github.com/PowerShell/EditorSyntax/issues/104

[2018-05-26 20:08] #101 closed

[2018-05-26 20:26] omniomi commented on #147
@lzybkr please see my suggestion on PowerShell/EditorSyntax#23 and let me know what you think.

[2018-05-26 21:00] vors commented on #15
This is addressed.

[2018-05-26 21:00] #15 closed

[2018-05-26 21:07] vors commented on #18
Closing old issues, let's open a new one if it's still a problem.

[2018-05-26 21:07] #18 closed

[2018-05-26 21:08] vors commented on #27
This is fixed now!

[2018-05-26 21:08] #27 closed

[2018-05-26 21:09] vors commented on #143
@daviwil is there any (partial)work we can sneak peak on?

[2018-05-26 21:10] vors commented on #42
This is done in EditorSyntax

[2018-05-26 21:10] #42 closed

[2018-05-26 21:11] vors commented on #45
This is not applicable anymore, we switched to a single `master` that serves for distribution. The development is done in https://github.com/PowerShell/EditorSyntax

[2018-05-26 21:11] #45 closed

[2018-05-26 21:13] vors commented on #43
If anybody would want it, the issues should be created in https://github.com/PowerShell/EditorSyntax
I personally don't care too much about mof at the moment to open an issue about it.

[2018-05-26 21:13] #43 closed

[2018-05-26 21:14] #76 closed

[2018-05-26 21:35] vors commented on #68
Moved to https://github.com/PowerShell/EditorSyntax/issues/107

[2018-05-26 21:35] #68 closed

[2018-05-26 21:35] vors commented on #77
Moved to https://github.com/PowerShell/EditorSyntax/issues/107

[2018-05-26 21:35] #77 closed

[2018-05-26 22:05] vors commented on #108
This is fixed in EditorSyntax

[2018-05-26 22:05] #108 closed

[2018-05-26 22:06] vors commented on #124
Moved to https://github.com/PowerShell/EditorSyntax/issues/29

[2018-05-26 22:06] #124 closed

[2018-05-26 22:11] #129 closed

[2018-07-23 11:49] keith-hall opened #161 "Editor-Syntax"
Hi,

I believe that the Editor-Syntax repository has had a few bug fixes upstream since it was copied for use in this repo. Would it make sense to have it as a git submodule, to make it easier to see which version is currently being used by this package, and easier to update this package to use the latest version?

[2018-07-28 18:27] vors opened #162 "Disable appveyor integration"
@guillermooo since we switched to EditorSyntax, we don't need our own CI anymore. Besides it's broken. Can you disable this integration?
https://ci.appveyor.com/project/guillermooo/powershell/build/1.0.136

[2018-07-28 18:52] keith-hall commented on #161
Good question - Package Control just uses GitHub's zip download feature, so I guess it depends whether submodules are included in the zip or not. I will try to investigate this, thanks.

[2018-07-29 06:31] keith-hall commented on #161
I have tested, at GitHub doesn't include submodules in the zip file. Your auto update script idea sounds like a good one.

[2019-03-26 17:14] michaelblyons commented on #161
Could you (hard|soft|sym)link to the file that lives in the submodule such that GitHub adds it to the zip? And make a script to convert the file (if Git thinks the link is a file) into a link to be run after `clone`?

[2019-04-21 00:45] vors commented on #161
Not sure is it possible or not. Currently there is no submodule because I don't know how sublime packages with submodules work.

[2019-12-16 18:45] Christophoclese opened #164 "Reserved keywords in function names are highlighted incorrectly"
If a reserved keyword is used as the beginning of a hyphenated function name (e.g., **Do-Something** or **If-Thing**) the beginning part of the function name that matches the reserved keyword is highlighted in red.

![image](https://user-images.githubusercontent.com/57161/70933578-15b53d00-1ff1-11ea-8c71-e07ea7181f24.png)

[2020-02-02 18:14] theaquamarine commented on #164
This is actually an issue with the language definition from https://github.com/PowerShell/EditorSyntax thing rather than the module, so would have to be fixed there - it's still present in the current version of the definition (and functions the same way in VSCode).

That said, it's possible they won't view it as a bug - comments on https://github.com/PowerShell/EditorSyntax/pull/80 suggest they'r

[2020-02-03 05:37] Christophoclese commented on #164
That makes sense. Thanks for the response.

I guess the takeaway is they don't really want you using hyphens in your function names unless you're going to stick to approved verbs?

[2020-02-27 14:18] AmjadHD commented on #143
FWIW you can use the LSP package https://lsp.readthedocs.io/en/latest/#powershell

[2020-08-25 09:04] EmanueleCiriachi opened #166 "Unable to find "PowerShell" package under Package Control"
- I press Ctrl + Shift + P (Windows machine);
- I select "Package Control: Install Package";
- I start typing Power... but no entry called "PowerShell" shows up, or anything containing the word "PowerShell" or other lower-case variants.

[2020-08-25 13:16] michaelblyons commented on #166
I believe Package Control is running into some GitHub rate-limiting trouble. Try again in a little bit?

[2021-01-18 16:37] mathieures commented on #166
The package was not available for me either, but I managed to install it through the "Advanced Install Package" sub-menu. It is case-sensitive though, so you have to type exactly "PowerShell".

[2021-04-23 10:06] stephen147 opened #167 "Console output to support Unicode"
Is it possible to change a setting that will output to the console when building such characters?

[code]

In the console I get this:
[code]

[2021-05-13 13:02] stephen147 opened #168 "Reindent problem with C#"
I assume that this controls the indentation for `.ps1` files so hopefully, this is the correct place to post this issue.

With Powershell I have this code:

[code]

After reindenting it it appears to be:
[code]
This then fails to run as the `"@` is indented when it shouldn't.

[2021-05-13 15:22] keith-hall commented on #168
I guess this repo lacks any tmPreferences files controlling indentation, so it uses the defaults. You'd want a `unindentedLinePattern` matching `"@` iirc.

[2021-05-13 16:30] stephen147 commented on #168
Oh, I didn't even think to see if there was one. I assumed there was.

Hopefully, this could get added as a rule if the person maintaining this repo sees this as it would be nice to be included out of the box.

[2022-10-31 21:51] antoningfors opened #170 "Problems with encoding UTF-8 in Powershell"
Per default Windows 10 and Windows 11 do not use UTF-8 unless you manually enable as a Beta feature under Region Settings in intl.cpl

![Capture3](https://user-images.githubusercontent.com/7704755/199113636-2d5425db-259b-4d83-89d2-aa0c2cbfb6a1.PNG)

Without that setting enabled both Sublime and Powershell are having problems reading and displaying special characters such as "åäö".

Here is an exam

[2022-10-31 21:55] antoningfors commented on #167
I am having the same type of problems made another issue about it #170

One simple solution is to enable UTF-8 in Windows.

Open intl.cpl and click the UTF-8 button under Change system locale...

![image](https://user-images.githubusercontent.com/7704755/199117840-8a33bc8f-4096-45f5-ae16-cc4169f0f09b.png)